body {
    background-color: #000000;
    color: white;
    height: 100vh;
    font: 16px 'Circe', sans-serif;
    /* font-family: "Exo 2", sans-serif; */
    font-optical-sizing: auto;
    /* font-style: normal; */
}

a {
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.avatar {
    border-radius: 50%;
}