/* Основные стили навигационной панели */
.navbar {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 20;
    top: 0;
    min-width: 100%;
    max-width: 100%;
    background: #00000000 linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .595) 6.67%, rgba(0, 0, 0, .579) 13.33%, rgba(0, 0, 0, .551) 20%, rgba(0, 0, 0, .512) 26.67%, rgba(0, 0, 0, .461) 33.33%, rgba(0, 0, 0, .401) 40%, rgba(0, 0, 0, .334) 46.67%, rgba(0, 0, 0, .266) 53.33%, rgba(0, 0, 0, .199) 60%, rgba(0, 0, 0, .139) 66.67%, rgba(0, 0, 0, .088) 73.33%, rgba(0, 0, 0, .049) 80%, rgba(0, 0, 0, .021) 86.67%, rgba(0, 0, 0, .005) 93.33%, transparent);
    padding: 10px 10px 100px;
}

/* Логотип сайта */
.navbarBrand {
    display: flex;
    font-size: 1.8rem;
    padding-left: 1%;
    align-items: center;
}

/* НАВИГАЦИОННЫЕ ССЫЛКИ + ПОИСК/ВХОД */
.navbarCollapse {
    justify-content: space-between;
}

/* ГРУППА НАВИГАЦИОННЫХ ССЫЛОК */
.navbarNavItems {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}

/* Ссылки навигации */
.navbarNavLink {
    margin: 0 15px;
    font-size: 1.8rem;
}

/* СТРОКА ПОИСКА И КНОПКА ВХОДА */
.navbarSearchLogin {
    display: flex;
    align-items: center;
}