.cardItem {
    width: 100%;
}

.card {
    /* box-sizing: border-box; */
    width: 100%;
    /* max-height: 170px; */
    overflow: hidden;
    transition: transform 0.2s;
}

.cardBottom {
    max-height: 100%;
}

.card:hover {
    transform: scale(1.02);
    z-index: 15;
    background-color: #0a0a0a;

}

.cardImgBlock {
    width: 266px;
}

.cardImg {
    position: relative;
    object-fit: cover;
    object-position: 50% 30%;
    overflow: hidden;
    max-width: 266px;
    min-width: 266px;
    max-height: 175.8px;
    min-height: 175.8px;
    z-index: 14;
}


.gradient {
    position: absolute;
    top: -1;
    left: 29px;
    left: -1%;
    content: '';
    width: 33%;
    height: 152px;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5396533613445378) 69%, rgba(0, 0, 0, 0.7805497198879552) 81%, rgba(0, 0, 0, 0.8981967787114846) 88%, rgba(0, 0, 0, 0.9738270308123249) 95%, rgba(0, 0, 0, 1) 100%);
    z-index: 15;

}

.card {
    background-color: black;
    border: 2px solid #333;
    color: white;
}

.cardDiscr {
    height: 4.8rem;
}